/*green #859e4b
serious red #e02716
less serious red #c42415
grey #afafae;*/
/*--------------------------
typography
---------------------------*/
#titleText, a.nav {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.3em;
}

#keywords {
  color: #e02716;
}
a {
  color: rgba(225, 39, 22, 1)
}

a:hover, a:visited {
  color: rgba(225, 39, 22, .4)
}
a.nav {
  font-size: 1.2em;
  text-decoration: none;
  color: black;
}
a.nav:hover {
  color: rgba(225, 39, 22, 1)
}
h1, h2, h3, h4 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h4 {
  font-size: 1.3em;
}
p, a.inline {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

}
/*--------------------------
header
---------------------------*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
}
#instructions {
  border: solid 1px #afafae;
  border-radius: 25px;
}
#instructions p {
  color: #afafae;
  font-size: .7em;
  padding: 0px 10px;
}

@media screen and (max-width: 500px) {
  #instructions {
    visibility: hidden;
  }
}

.journal {
  margin-top: 20px;
  max-width: 780px;
}

.title {
  margin-left: 10px;
}

nav {
  margin-right: 30px;
}
/*--------------------------
journal
---------------------------*/
.intro {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 10px 20px;
  border: solid 1px #afafae;
  border-radius: 25px;
  max-width: 750px;
}
.accordion-title, .accordion-content {
  border: none;
  max-width: 750px;
}
a.accordion-title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.1em;
  color: #afafae;
}
:last-child:not(.is-active) > .accordion-title {
  border-bottom: none;
  margin-bottom: 20px;
}
iframe {
  border: none;
  margin-bottom: 10px;
}
