/*font-family: 'Roboto Slab', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;*/

/*green #859e4b
serious red #e02716
less serious red #c42415*/
/*--------------------------
typography
---------------------------*/
#titleText, a.nav {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.3em;
}

#keywords {
  color: #e02716;
}
a {
  color: #859e4b;
}
a.nav {
  font-size: 1.1em;
  text-decoration: none;
  color: black;
}
a:hover {
  color: #e02716;
}
h1, h2, h3, h4 {
  font-family: 'Roboto Condensed', sans-serif;
}
p, a.inline {
  font-family: 'Roboto', sans-serif;
}
/*--------------------------
header
---------------------------*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);

  /*z-index: -1;*/
}

.title {
  margin-left: 10px;
}

nav {
  margin-right: 30px;
}

iframe {
  border: none;
}
